@import "tailwindcss";
:root {
    --sage: #798a82;
    --offwhite: #dbd4bf;
    --wheat: #d9a15b;
    --text-dark: #2f2f2f;
    --sage-dark: #92aa89;
    --primary-background: #798a82; /* Using your provided sage color */
    --primary-text: #2f2f2f; /* Using your provided text-dark color */
    --secondary-text: #d9a15b; /* Using your provided wheat color */
    --off-white-background: #dbd4bf; /* Using your provided offwhite color */
}

@font-face {
    font-family: "LavishlyYours-Regular";
    src: url("/fonts/LavishlyYours-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.my-font {
    font-family: "LavishlyYours-Regular", sans-serif;
}

@keyframes slide-in-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide-in-right {
    animation: slide-in-right 0.5s ease-out forwards;
}

.animate-slide-in-left {
    animation: slide-in-left 0.5s ease-out forwards;
}
